@import url('https://fonts.googleapis.com/css2?family=Katibeh&family=Readex+Pro&family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  font-family: "Zain", sans-serif;
  font-weight: 700;
  font-style: normal;
    background-color: #dfdfdf;
    justify-content: center;
    align-items: center;
}


/* إخفاء المحتوى الأول */
#content {
  text-align: center;
  margin-top: 50px;
}

.header {
    background-color: #ffffff7a;
    backdrop-filter: blur(5px); /* تأثير الضبابية */
    -webkit-backdrop-filter: blur(5px); /* دعم لمتصفح Safari */
    color: white;
    padding: 7px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.logo {
    margin-right: 40px;
    height: 25px; /* ارتفاع الصورة */
}

.nav {
    display: flex;
    gap: 40px;
}
.nav a {
    color: #414141;
    text-decoration: none;
    font-size: 15px;
    font-style: bold;
}
.nav a:hover {
  color: #313131; /* لون عند التمرير */
}

.menu-icon {
    color: rgba(53, 53, 53, 0.527);
    display: none;
    font-size: 24px;
    cursor: pointer;
    animation: move 2s ;
}

@media (max-width: 834px) {
    .nav {
        display: none;
        flex-direction: column;
        background-color: #ffffff;
        position: absolute;
        top: 40px; /* علشان نبعد القائمة عن الهدر */
        right: 0;
        width: 100%;
        padding: 30px;
        text-align: right; /* علشان نركز النص في شاشة الهاتف */
   height: 100vh;
    }
  
    .nav.active {
        display: flex;
    }
    .menu-icon {
        display: block;
    }
}
/* التعديل الجديد علشان الكلام يظهر في نص الشاشة */
@media (min-width: 834px) {
    .header {
        justify-content: center; /* علشان نركز العناصر في المنتصف */
    }
    .nav {
        margin-right: 20px; /* علشان نبعد القائمة عن اللوجو */
    }
}
.login-b {
  background-color: #000000;
  color: #ffffff;
  padding: 8px 15px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease;
  opacity: 0; /* اجعل الزر شفافًا في البداية */
  animation: fadeIn 2s forwards; /* إضافة الأنيميشن */
}

/* تأثير التمرير على الزر */
.login-b:hover {
  transform: scale(1.1);
}

/* الأنيميشن للشفافية */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


@media (max-width: 480px) {
  .login-b {
    font-size: 10px;
    padding: 8px 20px;
    opacity: 0; /* اجعل الزر شفافًا في البداية */
    animation: fadeIn 2s forwards; /* إضافة الأنيميشن */
    margin: 0 0 0 150px;
  }
  
}

a{
  color: #1f53ff;
}
.p-top {
  margin-bottom: 10px;
  font-size: 22px;
  color: #414141;
  text-align: center;
}

.header + .p-top {
  margin-top: 90px; /* Adjust this value as needed */
}

@media (max-width: 800px) {
  .p-top {
      margin: 8px;
      margin-top: 5%;
      font-size: 18px;
  }
}
.container {
    width: 100%;
    height: 40%;
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 10px; /* مسافة من الأعلى */
    text-align: center;
  }
 

  .container h1 {
    font-size: 60px;
    margin-top: 30px;
    color: #333;
  }

  .gradient-letter {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7b00, #ff007b);
    -webkit-background-clip: text; /* تحديد الخلفية على النص فقط */
    -webkit-text-fill-color: transparent; /* يجعل النص شفافًا ليظهر التدريج */
    display: inline-block;
  }

  .container p {
    font-family: "Zain", sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: #333;
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* يتيح التفاف الزرين في حالة صغر الشاشة */
    gap: 10px; /* مسافة بين الزرين */
    margin-bottom: 20px;
  }

  .button-group button {
    font-family: "Zain", sans-serif;
    font-weight: 500;
    font-style: normal;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .button-group .primary {
    background-color: #007bff;
    color: #fff;
  }

  .button-group .primary:hover {
    background-color: #0056b3;
  }

  .button-group .secondary {
    border: 1px solid #007bff; /* لون الحواف */
    color: #2760fd;
  }

  .button-group .secondary:hover {
    background-color: #0088ff;
    color: white;
  }

  .container img {
    width: 95%;
    max-width: 400px;
  }

  /* وسائل الإعلام لجعل التصميم متجاوب */
  @media (max-width: 780px) {
    .container h1 {
      font-size: 20px;
    }
    .gradient-letter{
        font-size: 20px;
    }
    .container p {
      font-size: 18px;
    }

    .button-group button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  @media (max-width: 480px) {
    .container h1 {
      font-size: 40px;
    }
    .gradient-letter{
        font-size: 50px;
    }
    .container p {
      font-size: 16px;
    }

    .button-group {
      flex-direction: wrap; 
      align-items: center;
    }

    .button-group button {

      max-width: 200px;
    }

    .container img {
      max-width: 60%; /* الصورة تتكيف مع الشاشة */
    }
  }


  .container3 {
    width: 100%;
    height: 40%;
    background-color: #0f0f0f;
    padding: 20px;
    margin-bottom: 10px; /* مسافة من الأعلى */
    text-align: center;
  }


  .container3 h1 {
    font-size: 60px;
    margin-top: 30px;
    color: #ffffff;
  }

  .gradient-letter {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #ff7b00, #ff007b);
    -webkit-background-clip: text; /* تحديد الخلفية على النص فقط */
    -webkit-text-fill-color: transparent; /* يجعل النص شفافًا ليظهر التدريج */
    display: inline-block;
  }

  .container3 p {
    font-size: 30px;
    color: #ffffff;
    margin-bottom: 20px;
  }

  .button-group {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* يتيح التفاف الزرين في حالة صغر الشاشة */
    gap: 10px; /* مسافة بين الزرين */
    margin-bottom: 20px;
  }

  .button-group button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }

  .button-group .primary {
    background-color: #007bff;
    color: #fff;
  }

  .button-group .primary:hover {
    background-color: #0056b3;
  }

  .button-group .secondary {
    border: 1px solid #007bff; /* لون الحواف */
    color: #2760fd;
  }

  .button-group .secondary:hover {
    background-color: #0088ff;
    color: white;
  }

  .container3 img {
    width: 95%;
    max-width: 400px;
  }

  /* وسائل الإعلام لجعل التصميم متجاوب */
  @media (max-width: 780px) {
    .container3 h1 {
      font-size: 20px;
    }
    .gradient-letter{
        font-size: 20px;
    }
    .container3 p {
      font-size: 14px;
    }

    .button-group button {
      font-size: 14px;
      padding: 8px 16px;
    }
  }

  @media (max-width: 480px) {
    .container3 h1 {
      font-size: 40px;
    }
    .gradient-letter{
        font-size: 50px;
    }
    .container3 p {
      font-size: 18px;
    }

    .button-group {
      flex-direction: wrap; 
      align-items: center;
    }

    .button-group button {

      max-width: 200px;
    }

    .container3 img {
      max-width: 50%; /* الصورة تتكيف مع الشاشة */
    }
  }




  .progct1 {
    text-align: center;
    background: linear-gradient(180deg, #000000, #222222);  
    padding: 20px;
    width: 100%;
    margin-bottom: 10px;
  
  }

  .progct1 h1 {
    font-size: 60px;
    margin-bottom:10px;
    color: #ffffff;
  }

  .progct1 p {
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .button-group button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 28px;
    background: transparent;
    color: #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button-group button:hover {
    background: #007bff;
    color: #fff;
  }

  .progct1 img {
    border-radius: 5px;
    width: 100%;
    max-width: 300px;
    margin: 20px;
    margin-top: 40px;
    
  }
  @media (max-width: 768px) {
    .progct1 h1 {
      font-size: 20px;
    }

    .progct1 p {
      font-size: 14px;
    }

    .button-group button {
      font-size: 12px;
      padding: 8px 15px;
    }
  }
  @media (max-width: 480px) {
    .progct1 h1 {
      font-size: 30px;
    }
    .gradient-letter{
        font-size: 50px;
    }
    .progct1 p {
      font-size: 16px;
    }

    .button-group {
      flex-direction: wrap; 
      align-items: center;
    }

    .button-group button {

      max-width: 200px;
    }

    .progct1 img {
        margin: 5px;
      max-width: 29%; /* الصورة تتكيف مع الشاشة */
    }
  }


  .progct2 {
    text-align: center;
    background-color: #ffffff; 
    padding: 20px;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
  
  } 

  .progct2 h1 {
    font-size: 60px;
    margin-bottom: 20px;
    color: #000000;
  }

  .progct2 p {
    font-size: 25px;
    margin-bottom: 20px;
    background-color: rgb(0, 0, 0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }

  .button-group button {
    padding: 10px 20px;
    font-size: 16px;
    border: 2px solid #007bff;
    border-radius: 28px;
    background: transparent;
    color: #007bff;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .button-group button:hover {
    background: #007bff;
    color: #fff;
  }

  .progct2 img {
    width: 100%;
    max-width: 300px;
    margin: 20px;
    margin-top: 40px;
    
  }
  @media (max-width: 768px) {
    .progct2 h1 {
      font-size: 20px;
    }

    .progct2 p {
      font-size: 14px;
    }

    .button-group button {
      font-size: 12px;
      padding: 8px 15px;
    }
  }
  @media (max-width: 480px) {
    .progct2 h1 {
      font-size: 30px;
    }
    .gradient-letter{
        font-size: 50px;
    }
    .progct2 p {
      font-size: 16px;
    }

    .button-group {
      flex-direction: wrap; 
      align-items: center;
    }

    .button-group button {

      max-width: 200px;
    }

    .progct2 img {
        margin: 5px;
      max-width: 29%; /* الصورة تتكيف مع الشاشة */
    }
  }


  .progct2 img {
    margin: 5px;
  max-width: 80%; /* الصورة تتكيف مع الشاشة */
}

.scrolling-wrapper {
  width: 100%;
  overflow: hidden;
  white-space: nowrap; /* يمنع العناصر من الانتقال لسطر جديد */
  background-color: #e0e0e0;
  padding: 10px 0;
  position: relative;
}
.scrolling-content {
  display: inline-block;
  animation: scroll-horizontal 65s linear infinite; /* الحركة الأفقية */
}
.scrolling-content img {
  height: 150px;
  margin: 0 10px;
  border-radius: 5px;
}
@keyframes scroll-horizontal {
  0% {
      transform: translateX(0%); /* يبدأ من الجانب الأيمن */
  }
  100% {
      transform: translateX(-100%); /* يتحرك لليسار */
  }
}




.pro{
  display: flex;
  justify-content: space-between;
 margin: 12px;

}

.progct3{
  background-color: #000000;   
   padding: 20px;

  width: 49.5%; /* المساحة التي سيأخذها كل مربع */
  text-align: center;
}

.progct3 h1{
  font-size: 50px;
color: #ffffff;
text-align: center;
margin-top: 20px;
margin-bottom: 10px;
}

.progct3 p{
  font-size: 25px;
color: #ffffff;
margin: 10px;
}

.progct3 img {
  width: 60%;
  margin: 20px;
  margin-top: 30px;
  
}
/* استعلامات الوسائط (media queries) */
@media (max-width: 480px) {
  .pro {
    width: 100%;
    flex-direction: column; /* المربعين يكونوا فوق بعض */
    align-items: center;
    margin: 0;
 
  }

  .progct3 {
    margin-bottom: 10px;
    width: 100%; /* عرض المربعين 80% على الشاشات الصغيرة */
   
  }
  .progct3 h1{
    font-size: 30px;
  }
  .progct3 p{
  font-size: 18px;
  }
  .progct3 img{
    margin: 10px;
    width: 80%;
  }
}



.pp{
padding: 30px;
  text-align: right;
  background-color: #ebebeb;
}
.pp p {
  font-family: "Zain", sans-serif;
  font-weight: 400;
  font-style: normal;
margin: 0;
padding-top: 10px;
  text-align: right;
  font-size: 17px;
  color: #252525;
}

.pp h4{
  padding-top: 20px;
  font-size: 18px;
  color: #252525;

}
@media (max-width: 480px) {
  .pp p {
   
    font-size: 13px;
    
  }
}

hr {
  border: 0;
  border-top: 2px solid #949494;  /* اللون والسُمك */
  width: 100%;  /* عرض الخط */
  margin: 0px auto;  /* المسافة من الأعلى والأسفل */
}














.swiper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.swiper-slide {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide picture img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto 20px auto; /* Center the image horizontally and add margin-bottom */
  object-fit: cover;
}

/* التراكب عند التوقف على الصورة */
.overlay {
    position: absolute;
    bottom: 20px;
    left: 20px;
    padding: 15px 20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 40px); /* عرض التراكب يكون داخل الصورة */
}

.text-container {
    color: white;
    margin-right: 10px;
    text-align: center;
}

.text-container h2 {
    font-size: 24px;
    margin: 0;
}

.text-container p {
    font-size: 16px;
    margin: 5px 0 0;
}

button {
    background-color: #ffffff;
    color: #000000;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.swiper-slide:hover .overlay {
    opacity: 1;
}

/* تصغير النصوص والصور في الشاشات الصغيرة */
@media (max-width: 768px) {
    .swiper {
        height: 100%;
    }

    .overlay {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px;
        flex-direction: column;
        text-align: center;
        width: calc(100% - 20px); /* عرض التراكب يكون داخل الصورة */
    }

    .text-container {
        text-align: center;
    }

    .text-container h2 {
        font-size: 18px;
    }

    .text-container p {
        font-size: 14px;
    }

    button {
        font-size: 14px;
        padding: 7px 12px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

















.footer {
  padding: 50px;
      background: #1c1c1c;
      color: #fff;
      padding: 20px;
      text-align: right;
      direction: rtl;
  }
  .footer-top {
      padding-right: 95px;
      display: flex;
      align-items: center;
      gap: 10px;
      margin-bottom: 20px;
  }
  .footer-top img{
      width: 40px;
  }
  .footer-container {
      padding-left: 50px;
      padding-right: 100px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
  }
  .footer-column {
      width: 22%;
  }
  .footer-column h4 {
      cursor: pointer;
      margin-bottom: 10px;
      transition: color 0.3s ease;
  }
  .footer-column h4:hover {
      color: #d4d4d4;
  }
  .footer-list {
      list-style: none;
      padding: 0;
      display: block;
      transition: max-height 0.3s ease-out;
  }
  .footer-column ul li a {
      font-size: 18px;
      color: #ccc;
      text-decoration: none;
  }
  .footer-column ul li a:hover {
      text-decoration: underline;
      color: #fff;
  }
  .footer-bottom {
      text-align: center;
      margin-top: 60px;
      border-top: 1px solid #ccc;
      padding-top: 10px;
      font-size: 14px;
      color: #666;
  }
  
  .footer-bottom a {
      margin: 0 10px;
      text-decoration: none;
      color: #ffffff;
  }
  
  .footer-bottom a:hover {
      text-decoration: underline;
      color: #ffffff;
  }
  
  .footer-bottom .country {
      color: #ccc;
      margin-right: 300px;
  }
  
  .footer-bottom span {
      color: #cecece;
  }
  
  @media (max-width: 768px) {
      .footer-bottom .country {
          font-size: 12px;
          display: block;
          margin: 10px 0 0 0;
      }
  }
  @media (max-width: 768px) {
      .footer-top{
          padding-right: 0px;
          padding-top: 10px;
      }
      .footer-container {
          padding: 10px;
          flex-direction: column;
      }
      .footer-top img{
      width: 30px;
  }
      .footer-column {
          width: 100%;
      }
      .footer-list {
          max-height: 0;
          overflow: hidden;
          transition: max-height 0.3s ease-out;
      }
      .footer-column h4::after {
          content: " ▼";
          float: left;
          transition: transform 0.3s ease;
      }
      .footer-column.open h4::after {
          content: " ▲";
      }
      .footer-column.open .footer-list {
          max-height: 500px; /* Adjust as needed */
      }
  }
  